<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Editing Route</h1>
  </div>
  <div class="panel-body">
    <div class="col-md-10">
      <%= render 'form', route: @route %>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li>
          <%= link_to t('common.show'), [:admin, @route], class: "text-info" %></li>
        <li>
          <%= link_to t('common.back'), admin_routes_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
