<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Routes
      <span class="pull-right"><small>
      <%= link_to t('admin.routes.new.title'), new_admin_route_path, class: "btn btn-success" %>
    </small></span>
  </h1>
  </div>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <%= render @routes%>
      </tbody>
    </table>
</div>
</div>
