<h1>RailWay</h1>

<div>
  <ul>
    <li><%= link_to "Stations list", admin_railway_stations_path %></li>
    <li><%= link_to "Routes list", admin_routes_path %></li>
    <li><%= link_to "Trains list", admin_trains_path %></li>
  </ul>
</div>
